{% extends "base.html" %}
{% block title %}Genre Page{% endblock %}

{% block content %}
<h1>{{ genre_name }}</h1>
<div class="movie-grid">
    {% for movie in movies %}
    <div class="movie-card">
        <p>
            {% if movie.poster_path %}
            <a href="{{ url_for('watch_info', tmdb_id=movie.id)}}"><img src="{{ TMDB_IMAGE_BASE_URL }}{{ movie.poster_path }}" alt="{{ movie.title }} Poster"></a>
            {% endif %}
            {{ movie.title }} ({{ movie.release_year }}) - {{ movie.vote_average }}
        </p>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <label for="page-select">Page:</label>
    <select id="page-select" data-genre-id="{{ genre_id }}">
        {% for p in range (1, total_pages + 1) %}
        <option value="{{ p }}" {% if p == page %}selected{% endif %}>{{ p }}</option>
        {% endfor %}
    </select>
</div>
{% endblock %}