{% extends "base.html" %}
{% block title %}Genre Page{% endblock %}

{% block content %}
<h1>{{ genre_name }}</h1>
<div class="movie-grid">
    {% for movie in movies %}
    <div class="movie-card">
        <p>
            {% if movie.poster_path %}
            <img src="{{ TMDB_IMAGE_BASE_URL }}{{ movie.poster_path }}" alt="{{ movie.title }} Poster">
            {% endif %}
            {{ movie.title }} ({{ movie.release_year }}) - {{ movie.vote_average }}
        </p>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if page > 1 %}
    <a href="{{ url_for('genre_browse', genre_id=genre_id, page=page-1) }}">&larr; Previous</a>
    {% endif %}
    <span>Page {{ page }}</span>
    <a href="{{ url_for('genre_browse', genre_id=genre_id, page=page+1) }}">Next &rarr;</a>
</div>
{% endblock %}