{% extends "base.html" %}
{% block title %}Movie Details{% endblock %}

{% block content %}
<h1>Movie Details</h1>
<div class="detail-layout">
    <div class="detail-poster">
        {% if movie.poster_path %}
        <img src="{{ TMDB_IMAGE_BASE_URL }}{{ movie.poster_path }}" alt="{{ movie.title }} Poster">
        {% endif %}
    </div>

    <div class="detail-info">
        <h1>{{ movie.title }} ({{ movie.release_year }})</h1>
        <p><b>Director:</b> {{ movie.director }}</p>
        <p><b>Genres:</b> {{ movie.genres }}</p>
        <p><b>Runtime:</b> {{ movie.runtime }}</p> 
        <p><b>TMDB Rating:</b> {{ movie.vote_average }}</p>
        <p><b>My Rating:</b> {{ movie.my_rating }}</p>
        <p><b>Watched on:</b> {{ movie.date_watched }}</p> 
        {% if movie.notes %}
        <p><b>Notes:</b> {{ movie.notes }}</p>
        {% endif %}
    </div>

    <div class="watch-info">
        {% if not providers %}
        <p><b>No UK provider information available for this film</b></p>
        {% else %}
        <div>
            {% if 'flatrate' in providers %}
            <p><b>Stream:</b></p>
            {% for provider in providers.flatrate %}
            <p>{{ provider.provider_name }}</p>
            {% endfor %}
            {% endif %}
        </div>

        <div>
            {% if 'rent' in providers %}
            <p><b>Rent:</b></p>
            {% for provider in providers.rent %}
            <p>{{ provider.provider_name }}</p>
            {% endfor %}
            {% endif %}
        </div>

        <div>
            {% if 'buy' in providers %}
            <p><b>Buy:</b></p>
            {% for provider in providers.buy %}
            <p>{{ provider.provider_name }}</p>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}